# Virtual environment
.venv/
venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# VS Code settings
.vscode/
*.code-workspace

# Logs & temp files
*.log
*.tmp
*.bak
*.swp
*.DS_Store
Thumbs.db

# Output data
*.csv
*.json

# Build/dist
dist/
build/

#.env
.env